.App {
  text-align: center;
  background-color: #E8DB7D;
  margin: -10px;
  padding: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  
}

#title{
  background-color: #558C8C;
  text-align: left;
  padding: 10px;
  color: #E8DB7D;
  margin-bottom: 30px;
}

Add{
  float: left;
}

p{
  font-size: 30px;
  font-family: Arial;
  margin-top: 25px;
  color: #034f84;
}

body{
  background-color:#E8DB7D;
}

Map{
  margin-top: 30px;
}

label {
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 18px;
 color: #333;
 height: 20px;
 width: 200px;
 margin-top: 10px;
 margin-right: 5px;
 margin-left: 10px;
 text-align: right;
 clear: both;
 float: left;
}

input[type="text"] {
 height: 20px;
 width: 300px;
 border: 1px solid #000;
 margin-top: 10px;
 float: left;
}

selection{
  float: left;
}

.inputContainer{
  height: 400px;
}

form{
  height: 600px;
}

button{
  margin-top: 70px;
  float: left;
  margin-left: -300px;
  width: 260px;
  height: 40px;
  border-radius: 15px;
  color: white;
  background-color:#034f84; 
}

input[type="submit"]{
  margin-top: 70px;
  float: left;
  margin-left: -300px;
  width: 260px;
  height: 40px;
  border-radius: 15px;
  color: white;
  background-color:#034f84; 
}

  button:hover{
    cursor: pointer;
    background-color: #d5f4e6;
    color:white;
  }

/*.container{*/
/*  float:left;*/
/*}*/


/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
